.post-item {
    display: flex;
    justify-content: space-between;
    border-bottom: #707070 1px solid;
    padding-bottom: 2em;
    margin-bottom: 2em;
}

.post-item:hover {
    cursor: pointer;
}

.post-item:hover a,
.post-item:focus a {
    color: #143774;
    text-decoration: underline;
}

figure#post-img {
    margin: 0;
    padding: 5px 5px 2px 5px;

    img {
        width: 100%;
        min-height: 150px;
        object-fit: cover;
    }
}

figure {
    width: 30%;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 68%;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.right a {
    font-size: 0.875rem;
    text-decoration: none;
    padding: 0.25em 0;
}

@media (min-width: 675px) {
    .post-content {
        flex-direction: row;
        justify-content: space-between;
    }
}
