<div class="landing-page">
    <div id="top-content">
        <div id="category">News</div>
        <h1 id="landing-title">Exciting events and announcements</h1>
    </div>
    <app-search-bar (submit)="handleSearch($event)" />
    <main>
        <div class="posts-list">
            @for (post of searchedPosts; track post) {
                <app-post-item [post]="post" />
            } @empty {
                <div class="result-text">No post found</div>
            }
        </div>
        @if (searchedPosts.length > 0) {
            <div class="result-text">Found {{ searchedPosts.length }} posts</div>
        }
    </main>
</div>
