.landing-page {
    display: flex;
    flex-direction: column;
}

#top-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#landing-title {
    font-size: 2em;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-list {
    width: 90%;
    max-width: 900px;
}

.result-text {
    margin-top: 2em;
    text-align: center;
}
