post.id : {{ post.id }}
@if (post.id && post.id != -1) {
    <button (click)="deletePostClick()">Delete</button>
}
<form [formGroup]="formGroup" (submit)="submit($event)">
    <div class="form-field">
        <label for="image">Image url</label>
        <input id="image" name="image" type="text" formControlName="image" />
        @if (isFieldInvalid('image')) {
            @if (formGroup.get('image')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
            @if (formGroup.get('image')?.hasError('pattern')) {
                <div class="error">This field must be an url</div>
            }
        }
        <label for="category">Category</label>
        <select formControlName="category">
            <option [value]="'NaN'" disabled>Select category</option>
            @for (category of categories; track category) {
                <option [value]="category.id">{{ category.name }}</option>
            }
        </select>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" formControlName="title" />
        @if (isFieldInvalid('title')) {
            @if (formGroup.get('title')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
            @if (formGroup.get('title')?.hasError('minLength')) {
                <div class="error">This field requires at least 2 characters.</div>
            }
        }
        <label for="body">Body</label>
        <textarea id="body" name="body" type="text" formControlName="body"></textarea>
        @if (isFieldInvalid('body')) {
            @if (formGroup.get('body')?.hasError('required')) {
                <div class="error">This field is required.</div>
            }
            @if (formGroup.get('body')?.hasError('minLength')) {
                <div class="error">This field requires at least 2 characters.</div>
            }
        }
    </div>
    <button type="submit" [disabled]="formGroup.invalid || !formGroup.get('category')?.value">Save</button>
</form>
