<form (submit)="login()" [formGroup]="loginFormGroup">
    <div class="form-group">
        <label for="username">Username</label>
        <input required placeholder="Username" type="text" id="username" formControlName="username" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            required
            placeholder="Password"
            type="password"
            id="password"
            minlength="4"
            formControlName="password"
        />
    </div>
    <button>Login</button>
    @if (isError) {
        <div class="error">Incorrect. Please retry.</div>
    }
</form>
