<header>
    <div class="container container-flex">
        <div class="site-title">
            <h1>Hello World</h1>
            <p class="subtitle">Angular x Springboot</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a
                        routerLink="/"
                        routerLinkActive="current-page"
                        [routerLinkActiveOptions]="{ exact: true }"
                    >
                        Home
                    </a>
                </li>
                <li><a routerLink="/post/add" routerLinkActive="current-page">Write a post</a></li>
                <li>
                    <a
                        routerLink="/paginated"
                        [queryParams]="{ q: '', page: 1 }"
                        routerLinkActive="current-page"
                    >
                        Paginated posts
                    </a>
                </li>
                @if (loginService.user()) {
                    <li>
                        <a (click)="logout()">Logout</a>
                    </li>
                } @else {
                    <li><a routerLink="/login" routerLinkActive="current-page">Login</a></li>
                }
            </ul>
        </nav>
    </div>
</header>
@if (loginService.user()) {
    <p>Welcome {{ loginService.user()?.username }}</p>
}
<router-outlet></router-outlet>
