<header>
    <div class="container container-nav">
        <div class="site-title">
            <h1>Hello World</h1>
            <p class="subtitle">Angular x Springboot</p>
        </div>
        <nav>
            <ul>
                <li>
                    <a
                        routerLink="/"
                        routerLinkActive="current-page"
                        [routerLinkActiveOptions]="{ exact: true }"
                        >Home</a
                    >
                </li>
                <li><a routerLink="/post/add" routerLinkActive="current-page">Write a post</a></li>
                <li><a href="#">Something2</a></li>
            </ul>
        </nav>
    </div>
</header>
<router-outlet></router-outlet>
