<main>
    <h2>Create an account</h2>
    <form (submit)="register()" [formGroup]="registerFormGroup">
        <div class="form-group">
            <label for="username">Username</label>
            <input required placeholder="Username" type="text" id="username" formControlName="username" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input required placeholder="john@doe.com" type="email" id="email" formControlName="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                required
                placeholder="Password"
                type="password"
                id="password"
                minlength="4"
                formControlName="password"
            />
        </div>
        <button type="submit">Register</button>
        @if (isError) {
            <div class="error">Incorrect. Please retry.</div>
        }
    </form>
    <div class="login-group">
        <a href="/login">Login</a>
    </div>
</main>
